@import '../../../../vars.sass'

.li
  box-shadow: $box-shadow
  margin-bottom: 16px
  padding: 8px 8px 0 16px

  .container
    display: flex
    align-items: center
    p span
      font-weight: bold
    p:first-child
      width: 60%

  .title
    margin: 0 8px

  .divider
    margin-top: 8px