.card
  width: 60%
  margin: 0 auto
  padding: 8px
  min-height: calc(60vw / 1.5)

  .img
    object-fit: cover
    object-position: center

    &.loading
      filter: blur(10px)

    &.loaded
      filter: blur(0)
      transition: filter 0.5s linear