.container
  padding: 50px
  display: flex
  align-items: center
  justify-content: center
  gap: 8px
  &.mobile
    padding: 50px 8px
    flex-direction: column
    .input
      width: 90%
      margin-right: 0

  .input input
    padding: 5px

  .btn
    height: 33px
    padding: 0 16px
