.link
  width: 80px

.cards
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr))
  gap: 24px
  margin: 0
  padding: 0 16px 24px

  .card
    padding: 16px
    display: flex
    flex-direction: column
    justify-content: space-between

    h3
      margin-top: 0
      padding-left: 16px

    .divider
      margin-bottom: 16px

    p
      padding-left: 16px

  .image
    width: 100%
    margin-top: 12px