.container
  padding: 16px
  row-gap: 16px
  display: flex
  flex-direction: column

  h1
    margin-bottom: 0

  p
    margin-top: 0

  .link
    width: 80px

  .cards
    display: grid
    gap: 24px
    margin: 0
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr))

    .card
      padding: 16px
      display: flex
      flex-direction: column
      justify-content: space-between

      h3
        margin-top: 0
        padding-left: 16px

      .divider
        margin-bottom: 16px

      p
        padding-left: 16px