.container
  padding: 16px
  row-gap: 16px
  display: flex
  flex-direction: column

  h1
    margin-bottom: 0

  p
    margin-top: 0

  .card
    padding: 16px

    h3
      margin-top: 0

    p
      padding-left: 16px
